/* Variables */
:root {
  /* Colors */
  --primary: #423838;
  --background: #FDFDFD;
  --selection: #D92323;
  /* Sizes */
  --navheight: 75px;
  --padding: 10px;
  --menupadding: 25px;
}

/* General */
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary);
  background-color: var(--background);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
  display: block;
  max-height: 100%;
  width: auto;
  height: auto;
}
a[href] {
  text-decoration: none;
  color: var(--primary);
}
a[href]:hover {
  color: var(--selection);
}
.link {
  cursor: pointer;
  text-decoration: underline;
}


/* Header and navigation */
header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
}

header img.logo {
  height: var(--navheight);
  cursor: pointer;
}

.logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}

.menu-toggle {
  display: flex;
  align-items: center;
  padding-right: var(--menupadding);
}

header nav {
  display: flex;
  flex-direction: row;
}

header nav .nav-link a {
  padding: 5px;
  cursor: pointer;
}

header nav .fork-link-inline a {
    display: none;
}

header nav .nav-link.active a {
  border-bottom: 3px solid var(--selection);
}

header nav .fork-link a img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

header i.fa {
  display: none;
}

header .current-section {
  display: none;
}

@media (max-width: 750px) {
  header {
    flex-direction: column;
    align-items: normal;
  }
  header i.fa {
    display: block;
  }
  header .current-section {
    display: block;
  }
  header nav .nav-link a {
    display: none;
  }
  header nav .fork-link a {
      display: none;
  }
  header nav .fork-link-inline a {
      display: none;
  }
  header nav.active .fork-link-inline a {
      display: block;
      text-align: right;
      padding-right: var(--menupadding);
      padding-top: 10px;
      padding-bottom: 10px;
  }
  header nav.active {
    flex-direction: column;
  }
  header nav.active .nav-link a {
    display: block;
    text-align: right;
    padding-right: var(--menupadding);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header nav .nav-link.active a {
    border: 0;
    color: var(--selection);
    font-weight: bold;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

/* Main content area */
main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-between;
  padding: var(--padding);
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  max-width: 768px;
}
section {
  display: flex;
}

/* Talks section */
section.talks {
  flex-wrap: wrap;
  flex-direction: row;
}
article.talk {
  display: flex;
  max-width: 350px;
  flex: 0 0 auto;
}

.talk a {
  display: flex;
  cursor: pointer;
}

.talk figure {
  display: flex;
  flex-direction: column;
}
.talk figcaption {
  text-align: center;
}

@media (max-width: 750px) {
  article.talk {
    max-width: 100%;
  }
}
